:root{
    --light: rgb(240,240,240);
    --light-alt: rgb(180,180,180);
    --dark: rgb(50,50,50);
    --accent1: rgb(0,102,153);
    --accent2: rgb(255,102,0);
    --small: 16px;
    --medium: 2.1rem;
    --large: 3.9rem;
    --vlarge: 5.2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 60%;
}

body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.main{
    min-height: 100vh;
}

input:focus, select:focus, textarea:focus, button:focus{
    outline: none;
}

a{
    text-decoration: none;
    color:var(--dark);
}

.header.sign{
    justify-content: center;
}

.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    background: var(--light-alt);
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 35px;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: var(--accent2);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
}

.logo em{
    font-style: normal;
    color: var(--accent1);
}

.logo:hover{
    transform: scale(1.1);
}

.logo img{
    width: 25px;
    height: auto;
}

.navbar{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    right: 60px;
}

.navbar *{
    font-size: var(--medium);
}

.navbar a{
    color: var(--dark);
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover{
    color: var(--accent1);
    border-bottom: 3px solid var(--accent1);
    text-shadow: 0 0 20px var(--accent1);
}

.navbar a i{
    font-size: 30px;
    transform: translateY(5px);
}

.navbar a p{
    position: absolute;
    background: var(--accent2);
    width: 20px;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    transform: translateX(20px);
    z-index: 101;
}

.navbar .restrainedx{
    max-width: 60px;
}

.navbar a.pfp{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    border: 2px solid var(--dark);
    border-radius: 200px;
}

.navbar a.pfp:hover{
    border: 2px solid var(--accent1);
    box-shadow: 0 0 20px var(--accent1);
}

.searchbar{
    border: none;
    background: var(--light);
    border-radius: 8px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

.navbar a.searchbar i{
    transform: translateY(10px);
}

.user-menu {
    display: flex;
    justify-content: flex-end;  
    position: relative;
    z-index: 10;
}

.navbar .dropdown{
    position: relative;
    display: inline-block;
}

.navbar .dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    right: -50%;
    background-color: var(--light);
    min-width: 140px;
    box-shadow: 0px 8px 16px rgba(0,0,0,.2);
    border-radius: 8px;
    z-index:999;
    flex-direction: column;
}

.dropdown-content a {
    color: var(--dark);
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--light-alt);
}

.dropdown:hover .dropdown-content {
    display: flex;
}

#nav-search{
    background: var(--light);
    border-radius: 8px;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

#nav-search input{
    border: none;
    background: none;
    margin-left: 10px;
    width: 350px;
}

#nav-search button{
    border: none;
    background: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

#menu-icon{
    font-size: 36px;
    color:var(--dark);
    display: none;
    position: absolute;
    right: 10px;
}

main.home{
    margin-top: 130px;
    min-height: 100vh;
    width: 100vw;
}

.categ{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 10%;
    justify-content: space-between;
}

.slideprod{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.slideprod button{
    width: 100%;
    height: 100%;
    border: none;
    background: linear-gradient(360deg,rgba(180, 180, 180, 1) 0%, rgba(240, 240, 240, 1) 100%); 
    border-radius: 80px;
    transition: 0.3s;
    cursor: pointer;
}

.slideprod button:hover{
    box-shadow: 0 0 20px var(--accent1);
    transform: scale(0.9);
}

.recoprod{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 30% 0;
}

.recotitle{
    color: var(--accent1);
    padding: 5px;
    letter-spacing: 0px;
    margin: auto;
    justify-content: center;
    vertical-align: middle;
    font-size: 2.5rem;
}

.recotitle em{
    font-style: normal;
    color: var(--dark);
}

.slide1{
    flex-direction: column-reverse;
}

.categ .item{
    width: 19%;
    height: 90%;
}

.slide0 img{
    transform: rotate(-10deg);
}

.slide1 img{
    transform: rotate(10deg);
}

.categ .item img{
    max-width: 86%;
    max-height: 50%;
    object-fit: contain;
}

#bestseller{
    padding-top: 0;
}

.bestSeller{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.bestSeller form button{
    background: none;
    border: none;
}

.bestSeller .prodseller{
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(360deg,rgba(180, 180, 180, 1) 0%, rgba(240, 240, 240, 1) 100%); 
    width: 300px;
    height: 200px;
    border-radius: 30px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.bestSeller .prodseller:hover{
    transform: scale(1.1);
}

.bestSeller .prodseller img{
    max-height: 90%;
    max-width: 90%;
    aspect-ratio: initial;
    vertical-align: middle;
}

.title{
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: var(--large);
    color: var(--accent1);
    text-align: center;
}

.categories{
    margin-left: 20px;
}

.categories form #categories{
    padding: 6px 10px 6px;
    border-radius: 6px;
    font-size: 15px;
    background: var(--light);
    color: var(--dark);
    border: none;
    cursor: pointer;
}

.categories #refreshbtn{
    border:none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: var(--light);
    color: var(--dark);
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

.products {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.products button{
    border: none;
    background: none;
    cursor: pointer;
}

.products .product {
    display: flex;
    gap:10px;
    padding-top: 30px;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.product .product_text .product_name{
    font-weight: 800;
}

.addtocart{
    display: none;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: rgba(0,0,0,.8);
    z-index:10;
    cursor: pointer;
    text-align: center;
}

.addtocart i{
    position: relative;
    top:25%;
    width: 100px;
    height: 100px;
    color:var(--light);
    font-size: 100px;
}

.product_img:hover .addtocart{
    display: block;
}

.products .product .product_img{
    position: relative;
    background: linear-gradient(360deg,rgba(180, 180, 180, 1) 0%, rgba(240, 240, 240, 1) 100%); 
    width: 300px;
    height: 200px;
    border-radius: 30px;
    margin: auto;
    text-align: center;
}

.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.products .product .product_img img {
    max-height: 80%;
    max-width: 90%;
    aspect-ratio: initial;
    vertical-align: middle;
}

.products .product .product_text {
    font-size: var(--small);
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.products .product .product_text .product_name{
    color: var(--accent1);
}

.products .product .product_text .product_price{
    color: var(--accent2);
}

main.sign{
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signbox{
    background: linear-gradient(360deg,rgba(180, 180, 180, 1) 0%, rgba(240, 240, 240, 1) 100%); 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 40%;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    width: 40%;
    min-width: 300px;
    max-width: 800px;
    align-items: center;
}

.signbox h2{
    color: var(--accent1);
    font-size: var(--large);
    padding-top:10px;
    text-align: center;
}

.signbox .input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signbox form{
    color: var(--dark);
    text-align: center;
    padding-top: 20px;
    width: 94%;
}

.signbox form label{
    margin-top: 5px;
    text-align: left;
    font-size: var(--small);
}

.signbox.log form input{
    border: 1px solid var(--accent1);
}

.signbox form input{
    padding: 5px;
    background: none;
    border: 1px solid var(--accent2);
    border-radius: 50px;
    font-size: var(--medium);
}

.signbox.log form .confirm{
    background: var(--accent1);
}

.signbox form .confirm{
    padding: 5px 50px;
    margin-top: 20px;
    background: var(--accent2);
    color: var(--light);
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}

.signbox.log form .confirm:hover{
    color: var(--accent1);
}

.signbox form .confirm:hover{
    background: none;
    color: var(--accent2);
}

.signbox span{
    margin-top: 20px;
    border: 2px solid var(--dark);
    border-radius: 2px;
    width: 60%;
    text-align: center;
}

.signbox.log a{
    background: var(--accent2);
    border: 1px solid var(--accent2);
}

.signbox a{
    padding: 5px 50px;
    margin-top: 20px;
    background: var(--accent1);
    color: var(--light);
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
    border: 1px solid var(--accent1);
    border-radius: 50px;
    font-size: var(--medium);
}

.signbox.log a:hover{
    color: var(--accent2);
}

.signbox a:hover{
    background: none;
    color: var(--accent1);
}

.cart{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 120px 5%;
    color: var(--dark);
}

.cart .empty{
    font-size: var(--medium);
}

.cart .listproducts{
    display: flex;
    flex-direction: column;
    width: 70%; 
    gap:20px;
}

.cart .listproducts .cartRow{
    min-height: 200px;
    background: linear-gradient(360deg,rgba(180, 180, 180, 1) 0%, rgba(240, 240, 240, 1) 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.cart .listproducts .cartRow .cart-img{
    height: 180px;
    width: 25%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cart-img img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.cart .cartdesc{
    margin: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--small);
    width: 60%;
}

.cart .name{
    font-size: var(--small);
    color: var(--accent1);
    font-weight: 800;
}

.cart .price{
    font-size: var(--small);
    color: var(--accent2);
}

.cart .finalprice{
    bottom: -160px;
    position: relative;
}

.cart .cartdesc .cartactions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    height: 50px;
    font-size: var(--medium);
}

.cartactions .cartquantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background: var(--accent1);
    border-radius: 30px;
    color: var(--light);
    width: 100px;
}

.cartactions button{
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
}

.cartactions .cartquantity button{
    color: var(--light);
}

.cartactions .cartquantity #currquantity{
    width: 40px;
    height: 30px;
    background: var(--accent2);
    text-align: center;
}

.cartactions .cartquantity #minusq{
    transform: translateX(7px);
    width: 20px;
    height: 30px;
}

.cartactions .cartquantity #plusq{
    transform: translateX(-7px);
    width: 20px;
    height: 30px;
}

.cart .cartaddedprice{
    margin-right: 10px;
}

.cart .finish{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    width: 20%;
    background: linear-gradient(360deg,rgba(180, 180, 180, 1) 0%, rgba(240, 240, 240, 1) 100%);
    border-radius: 10px;
    height: 120px;
    font-size: var(--small);
    gap:20px;
}

.cart .finish .finalizeprice{
    display: flex;
    flex-direction: row;
    gap:60px;
}

.cart .finish a{
    position: relative;
    background: var(--accent1);
    color: var(--light);
    font-weight: 900;
    padding: 9px;
    width: 100%;
    border-radius: 40px;
    height: 40px;
}

.cart .finish #falsecheckout{
    position: relative;
    background: var(--light-alt);
    color: var(--light);
    text-align: center;
    font-weight: 900;
    padding: 9px;
    width: 100%;
    border-radius: 40px;
    height: 40px;
    cursor: not-allowed;
}

.commands{
    display: flex;
    margin: 0 auto 100px auto;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 90vw;
    gap: 100px;
}

.commands .datetransaction{
    writing-mode: vertical-lr;
    text-orientation:upright;
    color: var(--accent1);
}

.commands .fprice{
    margin: auto;
    color: var(--accent2);
}

.commands .transaction{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background: linear-gradient(360deg,rgba(180, 180, 180, 1) 0%, rgba(240, 240, 240, 1) 100%);
    border-radius: 30px;
    padding: 20px;
    vertical-align: middle;
}

.transaction .ordered{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding : 10px;
    width: 90%;
}

.transaction .ordered h2{
    color: var(--dark);
}

.transaction .ordered .transactionRow{
    height: 200px;
    min-width: 200px;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.transaction img{
    max-width: 100%;
    max-height: 80%;
    object-fit: contain;
}

footer{
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
    flex-direction: row;
    padding: 20px 20px;
    background: var(--light-alt);
    align-items: center;
    text-align: center;
    color: var(--dark);
    font-size: var(--small);
}

footer .footlogo{
    width: 30%;
    display: block;
}

footer .footlinks{
    display: flex;
    gap:5px;
    flex-direction: column;
    width: 30%;
}

footer .footlinks a:hover{
    color: var(--accent1);
    text-shadow: 0 0 20px var(--accent1);
}

footer .footinfo{
    width: 30%;
    text-align: right;
    font-size: 10px;
    color: var(--accent1);
}

.adminBoard{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.adminBoard .adminOption{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(360deg,rgba(180, 180, 180, 1) 0%, rgba(240, 240, 240, 1) 100%);
    border-radius: 30px;
    width: 300px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
}

.adminBoard .adminOption:hover{
    transform: scale(1.1);
}

.adminBoard .adminOption h2{
    font-size: large;
}

form#stock,
form#user {
    border-radius: 12px;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

form#stock label,
form#user label {
    color: var(--dark);
    font-weight: 500;
    margin-bottom: 3px;
}

form#stock input[type="text"],
form#stock input[type="number"],
form#stock input[type="file"] {
    padding: 6px 10px;
    border: 1px solid var(--light-alt);
    border-radius: 30px;
    background: var(--light);
    width: 100%;
}

form#stock .price-field {
    position: relative;
    display: flex;
    align-items: center;
}

form#stock .price-field input[type="number"] {
    padding-left: 30px;
    padding-right: 10px;
    border: 1px solid var(--light-alt);
    border-radius: 30px;
    background: var(--light);
    width: 100%;
}

form#stock .price-field .currency {
    position: absolute;
    left: 15px;
    color: var(--dark);
    font-weight: bold;
}

form#stock input[type="submit"] {
    margin-top: 8px;
    padding: 8px 20px;
    background: var(--accent2);
    color: var(--light);
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    align-self: flex-start;
    border: 1px solid var(--accent2);
}

form#stock input[type="submit"]:hover {
    background: none;
    color: var(--accent2);
}

form#stock button,
form#user button {
    margin-top: 8px;
    padding: 8px 20px;
    background: var(--accent1);
    color: var(--light);
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    align-self: flex-start;
    border: 1px solid var(--accent1);
}

form#stock button:hover,
form#user button:hover {
    background: none;
    color: var(--accent1);
}

@media(max-width: 992px){
    .header{
        padding: 1.25rem 4%;
    }
    .navbar{
        gap:16px;
    }
}

@media(max-width: 900px){
    #menu-icon{
        display: block;
    }
    footer .footlogo{
        display: none;
    }
    .navbar.active{
        display: block;
        margin-top: 10px;
    }
    .navbar.active *{
        margin-top: 5px;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 4%;
        display: none;
    }
    .navbar .nav-acc{
        padding: 0;
        margin: 0;
        display: block;
    }
    .navbar .nav-acc:hover{
        border-bottom: none;
    }
    .nav-bg.active{
        display: block;
    }
    .nav-bg{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 230px;
        background-color: var(--light-alt);
        z-index: 99;
        display: none;
    }
    #nav-search{
        width: 300px;
    }
    #nav-search input{
        width: 250px;
    }
    .title{
        font-size: var(--medium);
    }
    .navbar .dropdown-content{
        right: -200%;
    }

    .cart{
        flex-direction: column-reverse;
        gap: 50px;
    }

    .cart .listproducts{
        width: 100%;
    }

    .cart .finish{
        width: 50%;
        left: 25%;
        position: relative;
    }
    
    .categ{
        flex-direction: column;
        margin: 0 auto;
        padding: 0 10%;
    }

    .categ .item{
        width: 90%;
        height: 19%;
    }

    .recoprod{
        flex-direction: row;
        padding: 0 10%;
    }

    .recoprod.slide1{
        flex-direction: row-reverse;
    }

    .categ .item img{
        max-height: 86%;
        max-width: 50%;
    }
}

@media(max-width:500px){
    html{
        font-size: 55%;
    }
}