html {
    background-color: rgb(192, 192, 192);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: auto;
    margin: 0 auto;
    padding: 0 2em;
    background-color: white;
    border: 1px solid black;
    overflow-x: hidden;
}


.admin {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: black 2px solid;

        .row {

            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;

            img {
                height: 150px;
                aspect-ratio: initial;
            }
        }
}